main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding-bottom: 0;
    padding-top: 120px;
}

section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    margin-bottom: 25px;
}

/* Headings and font styling adjustments */
h1 {
    font-size: 20vw;
}

h2 {
    font-size: 2.5rem;
}

/* Components with vertical border styling */
.vertical {
    border-left: 2px solid #E3963E;
}

.vertical * {
    margin-left: 10px;
    margin-bottom: 0px;
}

/* Contacts (phone, email, address) section styling */
.contacts {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 650px;
}

.contacts article {
    margin-top: 25px;
    margin-bottom: 50px;
}

.contacts ul {
    width: 100%;
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
    border-top: 1px solid #8b5619;
}

.contacts ul * {
    margin-top: 3px;
    margin-bottom: 3px;
}

.contacts ul li:nth-of-type(even) {
    width: 65%;
    font-size: 1.1rem;
}

.contacts ul li:nth-of-type(odd) {
    width: 35%;
    font-size: 1.3rem;
}

/* Links to social media profiles & footer styling */
.socials {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-top: 1px solid #8b5619;
}

.socials article {
    width: 300px
}

#social_media {
    padding-top: 10px;
    margin-top: 12px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

#social_media a {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
}

#social_media a:hover{
    scale: 1.3;
}

#social_media img {
    filter: invert(70%) sepia(30%) saturate(1100%) hue-rotate(339deg) brightness(85%) contrast(89%);
    width: 45px;
    height: 45px;
}

.socials p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1rem;
}

/* Tablet styling */
@media only screen and (min-width: 700px) {
    h1 {
        font-size: calc(20 / 100 * 700px);
    }
    .contacts {
        min-height: 700px;
    }
}

/* FHD Desktop styling */
@media only screen and (min-width: 1700px) {
    h1 {
        font-size: calc(20 / 100 * 800px);
    }
}

/* 2k & higher resolution desktop styling */
@media only screen and (min-width: 2000px) {
    h1 {
        font-size: calc(20 / 100 * 1000px);
    }

}