main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    padding-bottom: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Homepage header styling */
header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 17vw;
    margin-bottom: 0px;
    margin-top: -4vw;
    line-height: 0.9;
}

header h2 {
    font-size: 6vw;
    align-self: flex-end;
}

header h2:first-of-type {
    align-self: flex-start;
    font-size: 5vw;
    margin-left: 13vw;
}

/* Component with vertical border */
.vertical p {
    margin-left: 10px;
}

.vertical {
    border-left: 2px solid #E3963E;
}

/* "Find out more" link styling */
a h2:last-of-type {
    text-align: right;
    transform-origin: 100% 50%;
    transition: 0.5s;
}

a h2:last-of-type:hover {
    color:#E3963E;
    scale: 1.2;
}

/* Laptop - FHD desktop styling */
@media only screen and (min-width: 1200px) {
    header {
        max-width: 912px;
    }
    header h1 {
        font-size: calc(17 / 100 * 1200px);
        margin-top: calc(-4 / 100 * 1200px);
    }
    header h2 {
        font-size: calc(6 / 100 * 1200px);
    }
    header h2:first-of-type {
        font-size: calc(5 / 100 * 1200px);
        margin-left: calc(13 / 100 * 1200px);
    }
}

/* 2k resolution desktop styling */
@media only screen and (min-width: 2500px) {
    header {
        max-width: 1292px;
    }
    header h1 {
        font-size: calc(17 / 100 * 1700px);
        margin-top: calc(-4 / 100 * 1700px);
    }
    header h2 {
        font-size: calc(6 / 100 * 1700px);
    }
    header h2:first-of-type {
        font-size: calc(5 / 100 * 1700px);
        margin-left: calc(13 / 100 * 1700px);
    }
}

/* 4k resolution desktop styling */
@media only screen and (min-width: 3500px) {
    header {
        max-width: 1748px;
    }
    header h1 {
        font-size: calc(17 / 100 * 2300px);
        margin-top: calc(-4 / 100 * 2300px);
    }
    header h2 {
        font-size: calc(6 / 100 * 2300px);
    }
    header h2:first-of-type {
        font-size: calc(5 / 100 * 2300px);
        margin-left: calc(13 / 100 * 2300px);
    }
}
    