main {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 0px;
    padding-bottom: 0;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.videocontent {
    z-index: -2;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100vw;
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden;
    background-color: #000000;
}

.videocontent h1 {
    font-size: 3rem;
    font-weight: 700;
    text-align: right;
    position: absolute;
    top: 650px;
    right: 30px;
    color: #dfdfdf;
    line-height: 1
}

.introduction {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #a87ec0;
    width: 100%
}

.introduction h1{
    font-size: 3rem;
    line-height: 1.2;
    color: #ecc238;
}

.introduction p {
    font-size: 1.3rem;
    color: #ffffff;
}

.latest-work {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #ffffff;
    width: 100%
}

.latest-work h1 {
    font-size: 3rem;
    line-height: 1.2;
    color: #161616;
    text-align: center;
}

/* Video styling */
.videocontent video {
    width: auto;
    height: 100vh;
    z-index: -1;
}

.hamburgericon {
    filter: invert(1)
}

/* Bouncing Arrow */
.arrow-container {
    position: relative;
  }
  
.arrow {
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid #cfcfcf;
    position: relative;
    bottom: 60px;
    animation: bounce 1.5s infinite;
}

@keyframes bounce {
0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
}
40% {
    transform: translateY(-7px);
}
60% {
    transform: translateY(-4px);
}
}


/* Laptop - FHD desktop styling */
@media only screen and (min-width: 1200px) {
    header {
        max-width: 912px;
    }
    header h1 {
        font-size: calc(17 / 100 * 1200px);
        margin-top: calc(-4 / 100 * 1200px);
    }
    header h2 {
        font-size: calc(6 / 100 * 1200px);
    }
    header h2:first-of-type {
        font-size: calc(5 / 100 * 1200px);
        margin-left: calc(13 / 100 * 1200px);
    }
}

/* 2k resolution desktop styling */
@media only screen and (min-width: 2500px) {
    header {
        max-width: 1292px;
    }
    header h1 {
        font-size: calc(17 / 100 * 1700px);
        margin-top: calc(-4 / 100 * 1700px);
    }
    header h2 {
        font-size: calc(6 / 100 * 1700px);
    }
    header h2:first-of-type {
        font-size: calc(5 / 100 * 1700px);
        margin-left: calc(13 / 100 * 1700px);
    }
}

/* 4k resolution desktop styling */
@media only screen and (min-width: 3500px) {
    header {
        max-width: 1748px;
    }
    header h1 {
        font-size: calc(17 / 100 * 2300px);
        margin-top: calc(-4 / 100 * 2300px);
    }
    header h2 {
        font-size: calc(6 / 100 * 2300px);
    }
    header h2:first-of-type {
        font-size: calc(5 / 100 * 2300px);
        margin-left: calc(13 / 100 * 2300px);
    }
}
    